html {
}


body {
    @font-face {
        font-family: "PTSans", sans-serif;
        src: url("assets/fonts/PTSans-Regular.ttf");
    }
    @font-face {
        font-family: "PTSans", sans-serif;
        src: url("assets/fonts/PTSans-Bold.ttf");
    }
}


table {
    border-collapse: collapse;
}
table.border td, table.border th {
    padding: 5px;
    border: 1px solid #c0c0c0;
}
table.border th {
    background: #e0e0e0;
}